#root {
  margin: 0px;
  width: 100vw;
  height: 100vh;
}

html {
  font-family: Roboto, sans-serif;
  font-size: 14px;}

body {
  color: black;
  margin: 0;
}

.page{
  display: grid;
  grid-template-rows: auto 1fr;
  min-height: 100vh;
}

.site-header{
  border: solid 1px #dc4c3e;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #dc4c3e;
  color: #fff;
  padding: 1rem 2rem;
  border-bottom: 1px solid;
}

.site-header_status {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.site-header_status .check-icon{
  margin-right: 0.2rem;
}

.menu-button{
  background: none;
  border: none;
  cursor: pointer;
}

.menu-icon {
  width: 24px;
  height: 24px;
  display: block;
}


.site-main {
  border: solid 1px;
  display: grid;
  grid-template-columns: 300px 1fr;
}

.sidebar{
  background-color: #fefbf2;
  color: #000;
  padding: 1rem;
}

.sidebar ul li{
  list-style: none;
  margin-bottom: 0.5rem;
}

.sidebar ul li:hover{
  background-color: #fff;
}

.sidebar .task-count{
  font-size: 12px;
  color: #7e7d79;
  margin-left: 0.2rem;
}

.sidebar .nav-icon{
  width: 24px;
  height: 24px;
  vertical-align: middle;
  margin-right: 0.5rem;
}

.search-container{
  background: rgba(255,255,255,0.1);
  display: flex;
  padding: 0.5rem;
}

.search-input{
  border: none;
  background: none;
  color: #fff;
}

.search-input::placeholder{
  color: #fff;
  opacity: 0.7;
}

.search-icon{
  width: 15px;
  height: 15px;
}

.main-content{
  padding: 1rem;
  background: #fff;
}

.main-content {
  display: flex;
  flex-direction: column;
}

.main-content h1 {
  order: 0;
}

.filter-buttons {
  order: 1;
  margin-bottom: 0.5rem;
  display: flex;
  gap: 0.5rem;
}

.filter-btn {
  padding: 0.4rem 0.8rem;
  background: #dc4c3e;
}

.add-btn {
  padding: 0.4rem 0.8rem;
  margin-left: 0.8rem;
  background: #dc4c3e;
}

.delete-btn {
  padding: 0.4rem 0.8rem;
  background: #dc4c3e;
  margin-bottom: 1rem;
}

.task-form {
  order: 2;
}

.task-input {
  background: #ffffff;
  border: 1px solid #000000;
  padding: 0.5rem;
  color: #000;
}

.task-counter {
  order: 3;
}

.task-list {
  order: 4;
}

.main-content h1{
  font-size: 20px;
}

.main-content ul{
  padding-left: 0;

}

.main-content .checklist {
  list-style: none;
  margin-bottom: 0.5rem;
  border-bottom: 1px solid #f4f4f4;
  display: flex;
  align-items: center;
}

.check-box {
  width: 1.3em;
  height: 1.3em;
  background-color: white;
  border-radius: 50%;
  margin-right: 0.5em;
  border: 1px solid #ddd;
  appearance: none; /* Remove default checkbox look - from Stack OverFlow */
  -webkit-appearance: none; /* To not show default checkbox on Safari and Chrome- from Stack OverFlow */
  outline: none;
  cursor: pointer;
}

.check-box:checked {
  appearance: auto;
  clip-path: circle(50% at 50% 50%); /* Makes it circular when checked - from Stack OverFlow */
  background-color: blue;
}


@media (max-width: 480px) { 
  .site-main {
      grid-template-columns: 1fr;
  }
  .sidebar {
      display: none; 
  }
}

